body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.node-header {
    cursor: pointer;
  background-color: lightseagreen;
  width: 110px;
  border: 1px solid black;
  text-align: center;
}
  
.node-content {
    display: none;
}
  
.leaf {
    margin-left: 20px;
}
.leaf{
    background: rgb(224, 238, 144);
    width: 110px;
    border: 1px solid black;
    text-align: center;
}